<!DOCTYPE html>

<html>
    <head>
        {% if title %}
            <title>{{ title }} - BLANK FLASK</title>
        {% else %}
            <title>BLANK FLASK</title>
        {% endif %}
    </head>
    <body>
        <div>
            Аф!
            <a href="{{ url_for('index') }}">На главную</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Зайти</a>
            {% else %}
                <a href="{{ url_for('user', username=current_user.username) }}">Ваш профиль</a>
                <a href="{{ url_for('logout') }}">Выйти</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
